<header [ngClass]="{'dark-mobile': dark,'light-mobile': !dark}" class="h-a-v">
  <div class="b-s">
    <button [ngClass]="{'dark-mobile': dark,'light-mobile': !dark}" class="b-b">
      <span *ngIf="back" (click)="pageBack()" class="material-icons-round"> arrow_back_ios </span>
    </button>
    <button [ngClass]="{'dark-mobile-button': dark,'light-mobile-button': !dark}" class="p-b"><p>{{user_l}}</p></button>
  </div>
  <div class="i">
    <button [ngClass]="{'dark-mobile': dark,'light-mobile': !dark}" class="n">
      <span class="material-icons"> notifications </span>
    </button>
    <button [ngClass]="{'dark-mobile': dark,'light-mobile': !dark}" class="b">
      <span class="material-icons-round"> menu </span>
    </button>
  </div>
</header>
