<div class="card">
  <h3 class="card-title">Vehicle Descripcion</h3>
  <div *ngIf="vehicle" class="descriptions">
    <div class="descriptions-container">
      <h4>Plate</h4>
      <p>{{vehicle.plate}}</p>
    </div>
    <div class="descriptions-container">
      <h4>Status</h4>
      <p>{{vehicle.up}}</p>
    </div>
    <div class="descriptions-container">
      <h4>Model</h4>
      <p>{{vehicle.model}}</p>
    </div>
    <div class="descriptions-container">
      <h4>Make</h4>
      <p>{{vehicle.make}}</p>
    </div>
    <div class="descriptions-container">
      <h4>Year</h4>
      <p>{{vehicle.Ayear}}</p>
    </div>
    <div class="descriptions-container">
      <h4>Type</h4>
      <p>{{vehicle.Atype}}</p>
    </div>
    <div class="descriptions-container">
      <h4>Number</h4>
      <p>{{vehicle.Anumber}}</p>
    </div>
    <div class="descriptions-container">
      <h4>Code</h4>
      <p>{{vehicle.code}}</p>
    </div>
  </div>
</div>
