<div class="card">
  <h3 class="card-title">Vehicle Descripcion</h3>
  <div class="descriptions">
    <div class="descriptions-container">
      <h4>Plate</h4>
      <p>123x231</p>
    </div>
    <div class="descriptions-container">
      <h4>Status</h4>
      <p>Active</p>
    </div>
    <div class="descriptions-container">
      <h4>Model</h4>
      <p>spinter</p>
    </div>
    <div class="descriptions-container">
      <h4>Make</h4>
      <p>Mercedez</p>
    </div>
    <div class="descriptions-container">
      <h4>Year</h4>
      <p>2016</p>
    </div>
    <div class="descriptions-container">
      <h4>Type</h4>
      <p>truck</p>
    </div>
    <div class="descriptions-container">
      <h4>Number</h4>
      <p>3x1x31</p>
    </div>
    <div class="descriptions-container">
      <h4>Code</h4>
      <p>3x2321x321x312</p>
    </div>
  </div>
</div>
