<nav #navbar class="navbar active">
  <div class="header header-background">
    <div class="header-item">
      <div class="collapse navbar-collapse">
        <ul class="float-start collapse-menu-icon">
          <li>
            <button
              mat-button
              (click)="mobileMenuSidebarOpen($event, 'overlay-open')"
              class="sidemenu-collapse"
            >
              <app-feather-icons
                [icon]="'menu'"
                [class]="'header-icon'"
              ></app-feather-icons>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="collapse navbar-collapse"
      [ngClass]="isNavbarCollapsed ? '' : 'show'"
    >
      <ul class="nav navbar-nav navbar-right nac">
        <li class="item">
          <div class="header-rol">
            {{(userType === '1')? 'Admin': 'Barber'}}
          </div>
        </li>
        <li class="nav-item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-user"
          >
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
        </li>
        <!-- #END# Notifications-->
        <li class="nav-item user_profile">
          <button mat-button [matMenuTriggerFor]="profilemenu">
            <div class="chip dropdown-toggle" ngbDropdownToggle class="">
              <span class="user-text">{{ this.user }}</span>
            </div>
          </button>
          <mat-menu #profilemenu="matMenu" class="profile-menu">
            <div class="noti-list">
              <div class="menu">
                <div class="user_dw_menu">
                  <button mat-menu-item>
                    <app-feather-icons
                      [icon]="'user'"
                      [class]="'user-menu-icons'"
                    ></app-feather-icons
                    >Account
                  </button>
                  <button mat-menu-item>
                    <app-feather-icons
                      [icon]="'mail'"
                      [class]="'user-menu-icons'"
                    ></app-feather-icons
                    >Inbox
                  </button>
                  <button mat-menu-item>
                    <app-feather-icons
                      [icon]="'settings'"
                      [class]="'user-menu-icons'"
                    ></app-feather-icons
                    >Settings
                  </button>
                  <button mat-menu-item (click)="logout()">
                    <app-feather-icons
                      [icon]="'log-out'"
                      [class]="'user-menu-icons'"
                    ></app-feather-icons
                    >Logout
                  </button>
                </div>
              </div>
            </div>
          </mat-menu>
        </li>
        <!-- #END# Tasks -->
      </ul>
    </div>
  </div>
</nav>
