.fc-button {
  background-color: #B6894B;
}

.button {
  background-color: #B6894B;
}

.checkbox

.checkbox  {
  border-color: red;
  // background-color: blue;
}

// .checkbox::before {
//   /* Crea un cuadro personalizado antes del checkbox */
//   content: "";
//   display: inline-block;
//   width: 16px;
//   height: 16px;
//   border: 2px solid #000; /* Cambia el color del borde aquí */
//   background-color: #fff; /* Cambia el color de fondo aquí */
//   margin-right: 5px;
// }

// .custom-checkbox:checked::before {
//   /* Cambia el estilo del cuadro cuando el checkbox está seleccionado */
//   background-color: #000; /* Cambia el color de fondo cuando está seleccionado */
// }
