<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Calendar'" [items]="['Home']" [active_item]="'Calendar'"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-2 col-sm-12 p-l-30">
                <div class="m-b-25">
                  <button mat-raised-button class="button" color="primary" (click)="addNewEvent()">Add Event</button>
                </div>
                <div class="m-b-25">
                  <button mat-raised-button class="button" color="primary" (click)="addWorkingTime()">Add Working Time</button>
                </div>
                <p>Type</p>
                <div class="filter-container">
                  <ul>
                    <li *ngFor="let filter of filters">
                      <mat-checkbox class="checkbox" [checked]="filter.checked" [value]="filter.value" color="primary"
                        (change)="changeCategory($event, filter)">
                        {{filter.value}}
                      </mat-checkbox>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-10 col-sm-12">
                <div class="panel-body">
                  <full-calendar [options]='calendarOptions'>
                  </full-calendar>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="working">
                <div class="working-container">
                  <h4>Working days</h4>
                  <div class="working-container-days">
                    <div *ngFor="let day of workingDays">
                      <p class="working-text">
                        {{day}}
                      </p>
                  </div>
                  </div>
                </div>
                <div class="working-container">
                  <h4>Hours</h4>
                  <div class="working-container-hours">
                    <div *ngFor="let hour of workingHours">
                      <p *ngIf="firstElement(0)" class="working-text"><strong>Start Hour</strong></p>
                      <p *ngIf="firstElement(1)" class="working-text"><strong>End Hour</strong></p>
                      <p class="working-text">
                        {{hour}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <app-calendar-list></app-calendar-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
