.fc-button {
  background-color: #B6894B;
}

.button {
  background-color: #B6894B;
  padding: 25px 10px;
  width: 100%;
}

.checkbox

.checkbox  {
  border-color: red;
  // background-color: blue;
}

