<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img" style="background-image: url(assets/images/signin/revs-full-signin.png);">
      </div>
    </div>
    <div class="col-sm-6 auth-form-section ">
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="welcome-msg title"> Reset Password </h2>
          <form class="validate-form" [formGroup]="newPassForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="input-container">
                <span class="color">
                Check your email, type the code
                </span>
                <div class="input" appearance="outline">
                  <input class="input-text" formControlName="code" />
                </div>
                <p class="input-error" *ngIf="newPassForm.get('code')?.hasError('required') &&  newPassForm.get('code')?.touched">
                  Code required
                </p>
                <p class="input-error" *ngIf="invalidCode">
                  The code you provided seems to be incorrect. Could you please double-check it and try again?
                </p>
              </div>
              <div class="input-container">
                <span class="color">
                  Type your new password
                </span>
                <div class="input" appearance="outline">
                  <input type="password" class="input-text" formControlName="nwpass" />
                </div>
                <p class="input-error" *ngIf="newPassForm.get('nwpass')?.hasError('required') &&  newPassForm.get('nwpass')?.touched">
                  New password required
                </p>
              </div>
            </div>
            <div class="container-auth-form-btn">
              <button mat-flat-button color="primary" class="auth-form-btn color" [disabled]="!newPassForm.valid " type="submit">
                Reset My Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
