.map {
  display: flex;
  position: relative;
  width: 90%;
  height: 610px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.socials-container {
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 5px auto 10px;

}

.social-container {
  width: 42px;
  height: 42px;

  & img {
    width: 42px;
    height: 42px;
  }
}

.social {
  &-img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  &-input-container {
    display: flex;
    justify-content: space-between;
  }
}

.gallery-container {
  display: flex;
  width: 97%;
  margin: 0 auto;
  justify-content: center;
}
