  <div class="table-container">
    <div class="table-header">
      <h2 class="table-title">
        {{title}}
      </h2>
    </div>
    <div class="button-container">
      <button mat-button (click)="addModal()" class="button-color">Add {{title}}</button>
      <input class="input" type="text" placeholder="search" [(ngModel)]="searchValue" (input)="searchFilter()">
    </div>
    <table mat-table [dataSource]="dataSource" class="table" >
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let row">
          <p *ngIf="column !== 'options'">{{row[column]}}</p>
          <!-- Si la columna es la opcion de options, muestra un boton en lugar del texto -->
          <button *ngIf="column === 'options'" mat-button (click)="editModal(row)" class="table-button">
            Edit
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent($event)" aria-label="Select page"></mat-paginator>
  </div>
