
<ng-scrollbar [style.height]="100 + 'vh'" visibility="hover">

<div class="modal-container">
  <!-- Contenedor de los  -->
  <div class="modal-title-container">
    <div>
      <h4 class="modal-title" >{{title}}</h4>
      <span *ngIf="data.report !== 'Appointment'" class="title-barber">Service provided by <strong>{{appointment.barber}}</strong></span>
    </div>
    <button class="close-button" (click)="close()" aria-label="Example icon button with a home icon">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <!-- Contenedor de phone y client name  -->
    <div class="modal-info-container">
      <!-- Client name -->
      <div class="modal-input-container">
        <i class="material-icons modal-input-icon">people</i>
        <div>
          <p class="modal-input-title">Client name</p>
          <p class="modal-input-text">{{appointment.nameClient}}</p>
        </div>
      </div>
      <!-- Service  -->
      <div class="modal-input-container">
        <i class="material-icons modal-input-icon">content_cut</i>
        <div>
          <p class="modal-input-title">Service</p>
          <p class="modal-input-text">{{appointment.service}}</p>
        </div>
      </div>
    </div>
    <!-- Contenedor de Date y Duration -->
    <div class="modal-info-container">
      <!-- Date  -->
      <div class="modal-input-container">
        <i class="material-icons modal-input-icon">event_available</i>
        <div>
          <p class="modal-input-title">Date</p>
          <p class="modal-input-text">{{getDate(appointment.start)}}</p>
        </div>
      </div>
      <!-- Duration -->
      <div class="modal-input-container">
        <i class="material-icons modal-input-icon">schedule</i>
        <div>
          <p class="modal-input-title">Duration</p>
          <p class="modal-input-text">{{appointment.duration}}</p>
        </div>
      </div>
    </div>

    <div class="modal-info-container">
      <!-- Date  -->
      <div class="modal-input-container">
        <i class="material-icons modal-input-icon">event_available</i>
        <div>
          <p class="modal-input-title">Start Hour:</p>
          <p class="modal-input-text">{{getHour(appointment.start)}}</p>
        </div>
      </div>
      <!-- Time -->
      <div class="modal-input-container">
        <i class="material-icons modal-input-icon">schedule</i>
        <div>
          <p class="modal-input-title">End Hour:</p>
          <p class="modal-input-text">{{getHour(appointment.end)}}</p>
        </div>
      </div>
    </div>

    <!-- Contenedor de email y  -->
    <div class="modal-info-container">
      <!-- Email Client  -->
      <div class="modal-input-container">
        <i class="material-icons modal-input-icon">mail</i>
        <div>
          <p class="modal-input-title">Email:</p>
          <p class="modal-input-text">{{appointment.emailClient}}</p>
        </div>
      </div>
      <!-- Phone -->
      <div class="modal-input-container">
        <i class="material-icons modal-input-icon">call</i>
        <div>
          <p class="modal-input-title">Client Phone:</p>
          <p class="modal-input-text">{{appointment.phoneClient}}</p>
        </div>
      </div>
    </div>
    <app-maps [lat]="appointment.lat" [lng]="appointment.lng"></app-maps>
    <!-- Contenedor de los botones -->
    <div class="modal-buttons-container">
      <button class="modal-button modal-button--cancel" (click)="close()">Close</button>
      <button *ngIf="confirmButton" class="modal-button modal-button--confirm" (click)="confirmAppointment()">Confirm</button>
    </div>

</div>
</ng-scrollbar>
