<section class="content">
  <div class="content-block">
    <!-- breadcrumb -->
    <app-breadcrumb [title]="'Finances'" [items]="['Barber']" [active_item]="'Finances'">
    </app-breadcrumb>
    <div class="kpis-container">
        <app-kpi
        type="earning"
        [title]="'Earning Weekly'"
        [percentage]="'0%'"
        value="$75"
        ></app-kpi>
      <app-kpi
        type="earning"
        [title]="'Earning Monthly'"
        [percentage]="'0%'"
        value="$0"
        ></app-kpi>
      <app-kpi
        type="earning"
        [title]="'Earning Yearly'"
        [percentage]="'0%'"
        value="$0"
        ></app-kpi>
    </div>
    <div class="row">
      <div class="col-xl-12">
          <div class="card">
            <div class="header">
              <h2>Earning Chart 2023</h2>
              <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>add_circle_outline</mat-icon>
                  <span>Add</span>
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>delete_outline</mat-icon>
                  <span>Delete</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>refresh</mat-icon>
                  <span>Refresh</span>
                </button>
              </mat-menu>
            </div>
            <div class="body p-5">
              <apx-chart [series]="earningOptions.series!" [chart]="earningOptions.chart!" [xaxis]="earningOptions.xaxis!"
                [stroke]="earningOptions.stroke!" [tooltip]="earningOptions.tooltip!"
                [dataLabels]="earningOptions.dataLabels!" [legend]="earningOptions.legend!"
                [markers]="earningOptions.markers!" [grid]="earningOptions.grid!" [yaxis]="earningOptions.yaxis!"
                [title]="earningOptions.title!">
              </apx-chart>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
