<div class="container">
  <form>
    <div class="title-container">
      <h2 class="title-text">Appointment</h2>
    </div>
    <div class="inputs-container">
      <div class="input-container">
        <mat-form-field appearance="outline" >
          <mat-label>Name</mat-label>
          <input matInput  formControlName="name">
          <mat-icon matSuffix>name</mat-icon>
          <!-- <mat-error *ngIf="modalForm.get('name')?.hasError('required') && modalForm.get('name')?.touched">Name required</mat-error> -->
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field appearance="outline" >
          <mat-label>Address</mat-label>
          <input matInput  formControlName="address">
          <mat-icon matSuffix>date</mat-icon>
          <!-- <mat-error *ngIf="modalForm.get('address')?.hasError('required') && modalForm.get('address')?.touched">Email is required</mat-error> -->
        </mat-form-field>
      </div>
    </div>
    <div class="buttons-container">
      <button mat-button type="button" class="button-form button-form--close" (click)="close()">Close</button>
      <button mat-button type="submit" class="button-form button-form--save" (click)="confirmAdd()">Save Changes</button>
    </div>
  </form>
</div>
