.custom-card {
    box-shadow: none;
    display: flex;
    position: absolute;
    width: 100%;
  }
  .footer-c{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .btn-loc{
    background-color: white;
    padding:6px;
    border:1px solid #ccc;
    border-radius:5px;
  }
  .row{
    display: flex;
    width: 100%;
  }