
    <div class="row">
      <div class="col-lg-12">
        <div class="card custom-card">
          <div class="header d-flex justify-content-center align-items-center">
            <div class="btn-loc"><span class="fw-bold">Location:</span> {{ lat}},{{lng }}
            </div>
          </div>
          <div class="card-body">
            <google-map
              height="500px"
              width="100%"
              [center]="center"
              [zoom]="zoom"
            >
            <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition" [options]="markerOptions"></map-marker>
            </google-map>
          </div>
        </div>
      </div>
    </div>