<div class="container">
  <div class="contact-form h-100">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <div class="modal-about">
            <h3>Editing truck {{ id }}</h3>
          </div>
        </div>
      </div>
      <button
        mat-icon-button
        (click)="dialogRef.close()"
        class="modal-close-button"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <form
        class="register-form m-4"
        [formGroup]="trucksForm!"
        (ngSubmit)="(submit)"
      >
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>plate</mat-label>
              <input matInput formControlName="plate" required />
              <i class="material-icons-two-tone color-icon p-3" matSuffix></i>
              <mat-error
                *ngIf="
                  trucksForm?.get('email')?.hasError('required') ||
                  trucksForm?.get('email')?.touched
                "
              >
                Please enter plate
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>vin</mat-label>
              <input matInput formControlName="vin" required />
              <i class="material-icons-two-tone color-icon p-3" matSuffix></i>
              <mat-error
                *ngIf="
                  trucksForm?.get('email')?.hasError('required') ||
                  trucksForm?.get('email')?.touched
                "
              >
                Please enter vin
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>code</mat-label>
              <input matInput formControlName="code" required />
              <i class="material-icons-two-tone color-icon p-3" matSuffix></i>
              <mat-error
                *ngIf="
                  trucksForm?.get('email')?.hasError('required') ||
                  trucksForm?.get('email')?.touched
                "
              >
                Please enter code
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>model</mat-label>
              <input matInput formControlName="model" type="string" />
              <i class="material-icons-two-tone color-icon p-3" matSuffix
                >model</i
              >
              <mat-error
                *ngIf="trucksForm?.get('mobile')?.hasError('required')"
              >
                model is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>make</mat-label>
              <input matInput formControlName="make" />
              <mat-error
                *ngIf="trucksForm?.get('birthDate')?.hasError('required')"
              >
                Please select make
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>year</mat-label>
              <input matInput formControlName="year" />
              <mat-error
                *ngIf="trucksForm?.get('birthDate')?.hasError('required')"
              >
                Please select year
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>type</mat-label>
              <input matInput formControlName="type" />
              <mat-error
                *ngIf="trucksForm?.get('birthDate')?.hasError('required')"
              >
                Please select date
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>up</mat-label>
              <input matInput formControlName="up" />
              <mat-error
                *ngIf="trucksForm?.get('birthDate')?.hasError('required')"
              >
                up
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>number</mat-label>
              <input matInput formControlName="number" />
              <mat-error
                *ngIf="trucksForm?.get('number')?.hasError('required')"
              >
                Please select number
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Barber</mat-label>
              <input
                type="text"
                placeholder="Pick one"
                aria-label="barber"
                matInput
                formControlName="barber"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredOptions | async"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
      <div class="example-button-row" align="end">
        <button
          mat-raised-button
          color="warn"
          [disabled]="!trucksForm?.valid"
          (click)="delete()"
        >
          delete
        </button>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!trucksForm?.valid"
          (click)="submit()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
