
.color {
  color: #000 !important;
}

.gold-color {
  color: #B6894B;
}

.background-img {
  background-image: url(../../../../assets/images/signin/revs-full-signin.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.background {
  background-color: #B6894B !important;
}

.input {
  display: flex;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 2px 0;
  background-color: transparent;

  &-text {
    width: 90%;
    margin: 5px 0;
    padding: 5px 0;
    margin-left: 20px;
    color: #000;
    border: none;
    // border-radius: 20px;
    outline: none;
    background-color: transparent;
  }

  &-label {
    color: #000;
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: 0.2rem;
  }


  &-error {
    color: red;
    margin-bottom: 4px;
  }

  &-container {
    margin-bottom: 20px;
  }
}

.border {
  outline-color: #000 !important;
  // outline: 1px solid #EEECEC !important;
  border-color: #000 !important
}

.flow {
  overflow-y: auto;
}

.margin {
  margin-bottom: 20px;
}


