<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div
        class="left-img"
        style="
          background-image: url(../../../assets/images/signin/revs-full-signin.png);
        "
      ></div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section flow">
        <div class="auth-wrapper">
          <h2 class="welcome-msg color">Sign Up</h2>
          <p class="auth-signup-text color">
            Enter details to create your account
          </p>
          <form
            class="validate-form"
            [formGroup]="signUpForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="row">
              <div class="input-container">
                <label class="input-label">Username*</label>
                <div class="input">
                  <input class="input-text" formControlName="username" />
                </div>
                <p
                  class="input-error"
                  *ngIf="
                    signUpForm.get('username')?.hasError('required') &&
                    signUpForm.get('username')?.touched
                  "
                >
                  Username is required
                </p>
              </div>
            </div>
            <div class="row">
              <div class="input-container">
                <label class="input-label">Email*</label>
                <div class="input">
                  <input class="input-text" formControlName="email" />
                </div>
                <p
                  class="input-error"
                  *ngIf="
                    signUpForm.get('email')?.hasError('required') &&
                    signUpForm.get('email')?.touched
                  "
                >
                  Please enter a valid email address
                </p>
              </div>
            </div>
            <div class="row">
              <div class="input-container">
                <label class="input-label">Password*</label>
                <div class="input">
                  <input
                    type="password"
                    class="input-text"
                    formControlName="password"
                  />
                </div>
                <p
                  class="input-error"
                  *ngIf="
                    signUpForm.get('password')?.hasError('required') &&
                    signUpForm.get('password')?.touched
                  "
                >
                  Password is required
                </p>
              </div>
            </div>
            <div class="row">
              <div class="input-container">
                <label class="input-label">Confirm Password*</label>
                <div class="input">
                  <input
                    type="password"
                    class="input-text"
                    formControlName="cpassword"
                  />
                </div>
                <p
                  class="input-error"
                  *ngIf="
                    signUpForm.get('cpassword')?.hasError('required') &&
                    signUpForm.get('cpassword')?.touched
                  "
                >
                  Confirm Password is required
                </p>
                <p
                  *ngIf="signUpForm.get('cpassword')?.errors?.['passwordNotMatch']"
                  class="input-error"
                >
                  Passwords do not match
                </p>
              </div>
            </div>
            <div class="row">
              <div class="input-container">
                <label class="input-label">Mobile*</label>
                <div class="input">
                  <input class="input-text" formControlName="mobile" />
                </div>
                <p
                  class="input-error"
                  *ngIf="
                    signUpForm.get('mobile')?.hasError('required') &&
                    signUpForm.get('mobile')?.touched
                  "
                >
                  Confirm Password is required
                </p>
              </div>
            </div>
            <div class="flex-sb-m w-full p-b-20">
              <div class="d-flex flex-row">
                <span class="color d-flex align-items-center col-7"
                  >Already Registered?
                  <a class="gold-color" routerLink="/authentication/signin">
                    Login
                  </a></span
                >
                <div class="b-switch form-switch col-5">
                  <input class="form-check-input i-switch" type="checkbox" id="flexSwitchCheckDefault" formControlName="barber">
                  <label style="color: #747474;" class="d-flex justify-content-center align-items-center form-check-label px-2 fw-bold mx-2" for="flexSwitchCheckDefault"
                    >Im A Barber</label
                  >
                </div>
              </div>
            </div>
            <div class="container-auth-form-btn">
              <button
                mat-flat-button
                color="primary"
                class="auth-form-btn background color margin"
                [disabled]="!signUpForm.valid"
                type="submit"
              >
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
