.input-container {
  position: relative;
  box-sizing: border-box;
  margin-top: 20px;
}

input[type=file] {
  position: absolute;
  background-color: #007bff;
  top: 0;
  left: 0;
  opacity: 0;
}

#Photo {
  margin-bottom: 10px;
}

.custom-button {
  display: flex;
  padding: 14px 12px;
  margin: 10px auto;
  width: calc(100% - 34px);
  justify-content: center;
  align-items: center;
  color: black;
  border: 1px dashed black;
  border-radius: 4px;
  cursor: pointer;
}

.custom-text {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.input-text {
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
}
