<div class="auth-container">
  <div class="row auth-main">
    <!-- Image -->
    <div class="col-sm-6 px-0 d-none d-sm-block" >
      <div class="left-img" style="background-image: url(../../../assets/images/signin/revs-full-signin.png);">
      </div>
    </div>
    <!-- image end -->
    <div class="col-sm-6 auth-form-section">
      <div class="form-section" >
        <div class="auth-wrapper">
          <h2 class="welcome-msg color" > Welcome to RevX </h2>
          <p class="color-text">Are you a barber?<a routerLink="/authentication/signup"
              class="color-link"> Want to join RevX
            </a>
          </p>
          <p class="color-text">Need a haircut?<a href="https://appointment.revx.llc/"
            class="color-link"> Appointment
          </a>
        <!-- </p>
          <p class="auth-signup-text text-muted color">Need a haircut?<a routerLink="/appointments"
            class="sign-up-link color">Appointment
          </a>
        </p> -->
          <h2 class="login-title color">Sign in</h2>
          <form class="validate-form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="input-container">
                  <label class="input-label">Username*</label>
                <div class="input" appearance="outline">
                  <input type="text" class="input-text" formControlName="username" />
                </div>
                <p class="input-error" *ngIf="signInForm.get('username')?.invalid && signInForm.get('username')?.touched">
                  Username is required
                </p>
              </div>
            </div>
            <div class="row">
              <div class="input-container">
                <label class="input-label">Password*</label>
                <div class="input" appearance="outline">
                  <input type="password" class="input-text" formControlName="password" />
                </div>
                <p class="input-error" *ngIf="signInForm.get('password')?.invalid && signInForm.get('password')?.touched">
                  Password is required
                </p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <a class="color-link" routerLink="/authentication/forgot-password">Forgot Password?</a>
              <!-- <a class="txt1 gold-color" routerLink="/appointments">Appointments</a> -->
            </div>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            <div class="container-auth-form-btn">
              <div style="text-align:center">
                <button mat-raised-button color="primary" [class.auth-spinner]="loading" [disabled]="loading"
                  class="auth-form-btn" [disabled]="!signInForm.valid" type="submit">Login</button>
              </div>
              <div style="text-align:center">
                <p style="font-weight: bold; margin-top: 10px;">V1.2.0</p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

