<section class="content">
  <div class="content-block">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="'Inbox'"
        [items]="['Barber']"
        [active_item]="'Notifications'"
      ></app-breadcrumb>
    <div class="row">
      <div class=" col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="card">
          <div class="body">
            <div id="mail-nav">
              <h5 class="b-b p-10 text-strong">Labels</h5>
              <ul class="" id="mail-labels" style="display: flex; flex-direction:  column;">
                <li>
                  <a href="javascript:;" (click)="filterData('Alarms')">
                    <i class="material-icons text-danger">local_offer</i>Alarms</a
                  >
                </li>
                <li>
                  <a href="javascript:;" (click)="filterData('Notification')">
                    <i class="material-icons text-primary">local_offer</i>Notification</a
                  >
                </li>
                <li>
                  <a href="javascript:;" (click)="filterData('Message')">
                    <i class="material-icons text-warning">local_offer</i>Message</a
                  >
                </li>
                <li>
                  <a href="javascript:;" (click)="filterData('All')">
                    <i class="material-icons col-black">local_offer</i>All</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="card">
          <div class="boxs mail_listing">
            <div class="inbox-center table-responsive">
              <table class="table table-hover">
                <thead class="">
                  <tr class="">
                    <h3 class="">Notifications</h3>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of notifications" class="unread" (click)="viewNotification(item)">
                      <td class="hidden-xs fw-normal">
                        <span class="noti-type px-2 py-1 {{item.col}}"></span>
                        <img class="img-noti" [src]="item.created_by_link_img" alt=""><span class="fw-bold text-capitalize">  {{item.created_by}}</span>
                      </td>
                      <td class="max-texts fw-normal">
                          <!-- <span class="badge {{item.col}} shadow-style m-r-10"
                            >{{item.type}}</span
                          > -->
                          <span class="text-capitalize fw-bold m-r-2">  {{item.tittle}}</span>
                          <span class="text-capitalize fw-normal" style="overflow: hidden;">  {{item.value.substring(0, 120)}}...</span>
                      </td>
                      <td class="text-end text" style="width:90px;">{{item.date}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-sm-7">
                <p class="p-15">Showing 1 - 15 of 200</p>
              </div>
              <div class="col-sm-5 text-end">
                <div class="float-end">
                  <div class="email-btn-group m-l-15">
                    <button
                      mat-icon-button
                      aria-label="Example icon-button with a heart icon"
                    >
                      <mat-icon>navigate_before</mat-icon>
                    </button>
                    <button
                      mat-icon-button
                      aria-label="Example icon-button with a heart icon"
                    >
                      <mat-icon>navigate_next</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
