<section class="content">
  <div class="content-block">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="'Inbox'"
        [items]="['Barber']"
        [active_item]="'Notifications'"
      ></app-breadcrumb>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="card">
          <div class="boxs mail_listing">
            <div class="inbox-center table-responsive">
              <table class="table table-hover">
                <thead class="">
                  <tr class="">
                    <h3 class="">Notifications</h3>
                  </tr>
                </thead>
                <tbody>
                  <tr class="unread">
                    <td class="hidden-xs">jose meraz</td>
                    <td class="max-texts">
                      <a routerLink="/email/read-mail">
                        <span class="badge col-blue shadow-style m-r-10"
                          >Notification</span
                        >
                        New Client Needs A Hair Cut</a
                      >
                    </td>
                    <td class="text-end">12:30 PM</td>
                  </tr>
                  <tr class="unread">
                    <td class="hidden-xs">jose meraz</td>
                    <td class="max-texts">
                      <a routerLink="/email/read-mail"
                        >
                        <span class="badge col-blue shadow-style m-r-10"
                          >Notification</span
                        >
                        New Client Needs A Complete Service</a
                      >
                    </td>
                    <td class="text-end">May 13</td>
                  </tr>
                  <tr class="unread">
                    <td class="hidden-xs">ricardo estrada</td>
                    <td class="max-texts">
                      <a routerLink="/email/read-mail">
                        <span class="badge col-red shadow-style m-r-10"
                          >Alarm</span
                        >
                        Expiration Date Of Your License Is Close</a
                      >
                    </td>
                    <td class="text-end">May 12</td>
                  </tr>
                  <tr>
                    <td class="hidden-xs">mary saenz</td>
                    <td class="max-texts">
                      <a routerLink="/email/read-mail">
                        <span class="badge col-orange shadow-style m-r-10"
                          >Message</span
                        >
                        Can You Send Me A Photo Of Your License Please</a
                      >
                    </td>
                    <td class="text-end">May 12</td>
                  </tr>
                  <tr>
                    <td class="hidden-xs">ricardo estrada</td>
                    <td class="max-texts">
                      <a routerLink="/email/read-mail">
                        <span class="badge col-red shadow-style m-r-10"
                          >Alarm</span
                        >
                        10 Min Left To End The Hair Cut
                      </a>
                    </td>
                    <td class="text-end">May 11</td>
                    </tr>
                  <tr>
                    <td class="hidden-xs">mary saenz</td>
                    <td class="max-texts">
                      <a routerLink="/email/read-mail"
                        >
                        <span class="badge col-blue shadow-style m-r-10"
                        >Notification</span>
                        Your In The Top 5 Barbers</a
                      >
                    </td>
                    <td class="text-end">May 11</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-sm-7">
                <p class="p-15">Showing 1 - 15 of 200</p>
              </div>
              <div class="col-sm-5 text-end">
                <div class="float-end">
                  <div class="email-btn-group m-l-15">
                    <button
                      mat-icon-button
                      aria-label="Example icon-button with a heart icon"
                    >
                      <mat-icon>navigate_before</mat-icon>
                    </button>
                    <button
                      mat-icon-button
                      aria-label="Example icon-button with a heart icon"
                    >
                      <mat-icon>navigate_next</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="card">
          <div class="body">
            <div id="mail-nav">
              <h5 class="b-b p-10 text-strong">Labels</h5>
              <ul class="" id="mail-labels">
                <li>
                  <a href="javascript:;">
                    <i class="material-icons col-red">local_offer</i>Alarms</a
                  >
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="material-icons col-blue">local_offer</i>Notification</a
                  >
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="material-icons col-orange">local_offer</i>Message</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
