@import '../../../../assets/scss/common/variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.c-f{
    display: flex;
    position: absolute;
    flex-direction: column;
    height:100vh;
    width:100%;
    background-color:white;
    overflow:hidden;

    & .h-a-v{
        display: flex;
        position: relative;
        height:70px;
        width: 100%;
        background-color: white;
        justify-content: space-between;
        align-items: center;
        padding:0px 10px 0px 10px;
    
        & .b-s{
            display: flex;
            flex-direction: row;
            align-items: center;
            height:100%;
            gap:20px;
            & .b-b{
            display: flex;
            height:100%;
            align-items: center;
            color: black;
            border: none;
            }
    
            & .p-b{
                display: flex;
                width:50px;
                height:50px;
                background-color: $mobile-button;
                color: black;
                justify-content: center;
                align-items: center;
                border-radius:10px;
                border: none;
    
                & p {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height:100%;
                    margin:0px;
                    font-size:16px;
                }
            }
        }
    
        & .i{
            display: flex;
            flex-direction: row;
            align-items: center;
            height:100%;
            gap:20px;
            color: $mobile-icons-gray;
    
            & .n{
                display: flex;
                height:100%;
                align-items: center;
                justify-content: center;
                width:50px;
                background-color: white;
                border: none;
                color: $mobile-icons-gray;
            }
    
            & .b{
                display: flex;
                height:100%;
                width:50px;
                justify-content: center;
                align-items: center;
                background-color: white;
                border: none;
                color: $mobile-icons-gray;
            }
        }
    }
}