<div class="c-f">
    <header class="h-a-v">
        <div class="b-s">
          <div class="b-b">
            <span class="material-icons-round"> arrow_back_ios </span>
          </div>
          <button class="p-b"><p>H</p></button>
        </div>
        <div class="i">
          <button class="n">
            <span class="material-icons"> notifications </span>
          </button>
          <button class="b">
            <span class="material-icons-round"> menu </span>
          </button>
        </div>
      </header>
</div>