<section class="content">
  <div class="content-block">
    <app-breadcrumb [title]="'Assets'" [items]="['Barber']" [active_item]="'Assets'"></app-breadcrumb>
    <div class="banners-container row">
      <app-banner [title]="bannerTitle" [text]="bannerText"></app-banner>
      <app-banner [title]="bannerTitle" [text]="bannerText"></app-banner>
      <!-- <app-banner [title]="bannerTitle" [text]="bannerText"></app-banner> -->
    </div>
    <div class="asset-container">
      <app-card [vehicle]="vehicle"></app-card>
      <app-img-container [imgLink]="'assets/images/vans/van.jfif'"></app-img-container>
    </div>

  </div>
</section>

