<section class="content">
  <div class="content-block">
    <!-- breadcrumb -->
    <app-breadcrumb
      [title]="'Rating'"
      [items]="['Barber']"
      [active_item]="'Rating'"
    ></app-breadcrumb>
    <div class="kpis-container">
      <app-kpi
        type="earning"
        [title]="'Rate'"
        [percentage]="'0%'"
        [value]="rate.toFixed(2)"
        icon="local_activity"
        ></app-kpi>
      <app-kpi
        type="earning"
        [title]="'Clients'"
        [percentage]="'0%'"
        [value]="list.length"
        icon="person"
        ></app-kpi>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Customer Review</h2>
          </div>
          <div class="body" style="max-height: 430px; overflow-y: scroll">
            <div class="review-block">
              <div class="row py-2 border border-start-0 border-end-0 border-top-0" *ngFor="let item of list">
                <div class="review-img">
                  <img src="assets/images/user/user1.jpg" alt="" />
                </div>
                <div class="col">
                  <h6 class="m-b-0 m-t-5">
                    {{ item.user }}
                    <span class="float-end m-r-10 text-muted">
                      {{ item.date + " " + item.time }}</span
                    >
                  </h6>
                  <i
                    class="material-icons"
                    *ngFor="let item of getRange(item.rate)"
                    >star</i
                  >
                  <p class="m-t-10 m-b-15 text-muted">
                    {{ item.comment }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="footer p-2 text-center m-b-5">
            <a href="#!" class="b-b-primary text-primary"
              >View all Customer Reviews</a
            >
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
