<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Profile'" [items]="['Home']" [active_item]="'Profile'">
      </app-breadcrumb>
    </div>
    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header bg-dark">
                <div class="user-name">Kevin Miller</div>
                <div class="name-center">Barber</div>
              </div>
              <img src="assets/images/user/usrbig3.jpg" class="user-img" alt="">
              <div class="socials-container">
                <a target="_blank" [href]="" class="social-container">
                  <img src="../../../assets/images/icons/instagram.svg">
                </a>
                <!-- <div class="social-input-container">
                  <img class="social-img" src="../../../assets/images/icons/instagram.svg">
                  <input type="text">
                </div> -->
              </div>
              <div class="row">
                <div class="col-6">
                  <h5>564</h5>
                  <small>Customers</small>
                </div>
                <div class="col-6">
                  <h5>1k</h5>
                  <small>Haircuts</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="header">
            <h2><strong>Description</strong></h2>
          </div>
          <div class="p-4">
            <p class="text-default">Lorem Ipsum is simply dummy text of the printing and
              typesetting industry.
            </p>
          </div>
          <!-- <mat-tab-group mat-align-tabs="start">
            <mat-tab label="About">

            </mat-tab>
          </mat-tab-group> -->
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">face</mat-icon>
                About Me
              </ng-template>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>About</strong></h2>
                  </div>
                  <div class="body">
                    <div class="row">
                      <div class="col-md-4 col-6 b-r">
                        <strong>Full Name</strong>
                        <br>
                        <p class="text-muted">Kevin Miller</p>
                      </div>
                      <div class="col-md-4 col-6 b-r">
                        <strong>Mobile</strong>
                        <br>
                        <p class="text-muted">(123) 456 7890</p>
                      </div>
                      <div class="col-md-4 col-6 b-r">
                        <strong>Email</strong>
                        <br>
                        <p class="text-muted">kevin@example.com</p>
                      </div>
                    </div>
                    <p class="m-t-30">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit suscipit quasi asperiores recusandae excepturi dolores, unde, dolor laboriosam quibusdam rem nostrum quam distinctio, impedit magnam vero culpa voluptate? Sequi, recusandae!
                    </p>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">location_on</mat-icon>
                Workzone
              </ng-template>
               <div class="header">
                <h2>
                  <strong>Work Zones</strong>
                </h2>
              </div>
               <!-- Dibujar un mapa de las workzones de cada usuario  -->
              <div class="map">

              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">location_on</mat-icon>
                Workzone
              </ng-template>
               <div class="header">
                <h2>
                  <strong>Work Zones</strong>
                </h2>
              </div>
               <!-- Dibujar un mapa de las workzones de cada usuario  -->
              <div class="map">

              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>
