
<main class="main">
  <a routerLink="/authentication/signin" class="logo">
    Revx
  </a>
  <section class="section">
    <!-- Barbers -->
    <article class="content">
      <h2 class="">Choose a proffessional</h2>
      <div class="barber-container">
        <button *ngFor="let barber of barbers" class="barber-card"  (click)="selectBarber(barber)">
          <picture>
            <i class="material-icons"></i>
          </picture>
          <p>Barber</p>
          <h4>{{barber.name}}</h4>
          <!-- <p>Not available <br> date </p> -->
          <hr>
          <a (click)="aboutBarber()" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom"
            aria-controls="offcanvasBottom">About</a>
        </button>
      </div>
      <button (click)="confirmAppointment()"  class="btnConfirm" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Confirm
      </button>
    </article>
    <!-- Services -->
  </section>
</main>
