
<main class="main">
  <a routerLink="/authentication/signin" class="logo">
    Revx
  </a>
  <section class="section">
    <!-- Barbers -->
    <article class="content">
      <h2 class="">Choose a proffessional</h2>
      <div class="barber-container">
        <button *ngFor="let barber of barbers" class="barber-card"  (click)="professional(barber)">
          <picture>
            <i class="material-icons"></i>
          </picture>
          <p>Barber</p>
          <h4>{{barber.name}}</h4>
          <!-- <p>Not available <br> date </p> -->
          <hr>
          <a (click)="about()" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom"
            aria-controls="offcanvasBottom">About</a>
        </button>
      </div>
    </article>
    <!-- Services -->
    <article class="content">
      <h2 style="font-size: 25px; font-weight: bold;">Choose a service</h2>
      <div class="appointment-container">
        <button class="barber-card barber-card--appointment" (click)="service('Haircut Short to Medium')">
            <h4>Haircut</h4>
            <p>Short to Medium</p>
            <span class="badge bg-secondary">$75</span>
        </button>
        <button class="barber-card barber-card--appointment" (click)="service('Haircut Medium to Long')">
            <h4>Haircut</h4>
            <p>Medium to Long</p>
            <span class="badge bg-secondary">$95</span>
        </button>
        <button class="barber-card barber-card--appointment" (click)="service('Beard Trim')">
            <h4>Beard & Mustache</h4>
            <p>Trim</p>
            <span class="badge bg-secondary">$35</span>
        </button>
        <button class="barber-card barber-card--appointment" (click)="service('Beard Fade')">
            <h4>Beard & Mustache</h4>
            <p> Fade</p>
            <span class="badge bg-secondary">$45</span>
        </button>
        <button class="barber-card barber-card--appointment" (click)="service('Beard Mustache')">
            <h4>Beard & Mustache</h4>
            <p> Mustache</p>
            <span class="badge bg-secondary">$25</span>
        </button>
        <button class="barber-card barber-card--appointment" (click)="service('Beard Shave')">
            <h4>Beard & Mustache</h4>
            <p> Shave</p>
            <span class="badge bg-secondary">$60</span>
        </button>
      </div>
    </article>
    <!-- Map -->
    <article class="content">
      <h3>Choose a location</h3>
      <h4> Search or drag
          the marker to the desired
          service location</h4>
      <input class="form-control" id="search-input" type="text" placeholder="Search..."><br>
      <div id="map" style="height: 400px; padding-top: 10px;"></div>
    </article>
    <!-- Days -->
    <article class="content">
      <h3 style="font-size: 25px; font-weight: bold;">Choose a Date</h3>
      <div class="hour-container">
        <button *ngFor="let date of dates" class="appointment-button">
          <span>{{date}}</span>
          <span>Wed</span>
        </button>
      </div>
    </article>
    <!-- Hours -->
    <article class="content">
      <h3 style="font-size: 25px; font-weight: bold;">Choose a Hour</h3>
      <div class="hour-container">
        <button *ngFor="let hour of hours" class="hour-button">
          <span>{{hour}}</span>
        </button>
      </div>
    </article>
    <!-- Contact -->
    <article class="content">
      <h3 style="font-size: 25px; font-weight: bold;">Contact info</h3>
      <form [formGroup]="appointmentForm" (ngSubmit)="saveUserData()">
        <div class="input-container">
          <mat-form-field appearance="outline" >
            <mat-label>Full Name</mat-label>
            <input matInput  formControlName="nameClient">
            <mat-icon matSuffix>date</mat-icon>
            <!-- <mat-error *ngIf="modalForm.get('address')?.hasError('required') && modalForm.get('address')?.touched">Email is required</mat-error> -->
          </mat-form-field>
          <mat-form-field appearance="outline" >
            <mat-label>Mobile phone</mat-label>
            <input matInput  formControlName="phoneClient">
            <mat-icon matSuffix>date</mat-icon>
            <!-- <mat-error *ngIf="modalForm.get('address')?.hasError('required') && modalForm.get('address')?.touched">Email is required</mat-error> -->
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field appearance="outline" >
            <mat-label>Email</mat-label>
            <input matInput  formControlName="emailClient">
            <mat-icon matSuffix>date</mat-icon>
            <!-- <mat-error *ngIf="modalForm.get('address')?.hasError('required') && modalForm.get('address')?.touched">Email is required</mat-error> -->
          </mat-form-field>
          <mat-form-field appearance="outline" >
            <mat-label>Address</mat-label>
            <input matInput  formControlName="addressClient">
            <mat-icon matSuffix>date</mat-icon>
            <!-- <mat-error *ngIf="modalForm.get('address')?.hasError('required') && modalForm.get('address')?.touched">Email is required</mat-error> -->
          </mat-form-field>
        </div>
      </form>
      <button class="btnConfirm" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Confirm
      </button>
    </article>

  </section>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- <ul>
                <li><a id="barberLi" class="active" href="#">Barber <i class="fa-solid fa-chevron-right"></i></a>
                </li>
                <li><a id="serviceLi" href="#">Service <i class="fa-solid fa-chevron-right"></i></a></li>
                <li><a id="locationLi" href="#">Location <i class="fa-solid fa-chevron-right"></i> </a> </li>
                <li><a id="dateLi" href="#">Date <i class="fa-solid fa-chevron-right"></i> </a> </li>
                <li><a id="dataLi" href="#">Contact <i class="fa-solid fa-chevron-right"></i> </a> </li>
                <li><a id="summaryLi" href="#">Summary </a> </li>
            </ul> -->


            <div class="contentc">
                <!-- <div class="col-md-12" id="proffessionalDiv" style="display: block;">
                    <h1 style="font-size: 25px; font-weight: bold;">Choose a proffessional</h1>

                    <button *ngFor="let barber of barbers" class="barberCard"  (click)="professional(barber)">
                        <img src="../../../assets/images/barber-temp/img/barber 1.jpg">
                        <!-- <i style="border: 1px solid black; border-radius: 50%; padding: 10px 1px; font-size: 2.5rem;" class="fa-solid fa-user"></i>
                        <h3>{{barber.name}}</h3>
                        <p>Not available <br> date </p>
                        <hr>
                        <a (click)="about()" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom"
                            aria-controls="offcanvasBottom">About {{barber.name}}</a>
                    </button>

                </div> -->
                <div class="col-md-12" id="serviceDiv" style="display: none">
                    <h1 style="font-size: 25px; font-weight: bold;">Choose a service</h1>

                    <button class="barberCard" onclick="service('Haircut Short to Medium')">
                        <h3>Haircut</h3>
                        <p>Short to Medium</p>
                        <span class="badge bg-secondary">$75</span>
                    </button>
                    <button class="barberCard" onclick="service('Haircut Medium to Long')">
                        <h3>Haircut</h3>
                        <p>Medium to Long</p>
                        <span class="badge bg-secondary">$95</span>
                    </button>
                    <button class="barberCard" onclick="service('Beard Trim')">
                        <h3>Beard & Mustache</h3>
                        <p> Trim</p>
                        <span class="badge bg-secondary">$35</span>
                    </button>
                    <button class="barberCard" onclick="service('Beard Fade')">
                        <h3>Beard & Mustache</h3>
                        <p> Fade</p>
                        <span class="badge bg-secondary">$45</span>
                    </button>
                    <button class="barberCard" onclick="service('Beard Mustache')">
                        <h3>Beard & Mustache</h3>
                        <p> Mustache</p>
                        <span class="badge bg-secondary">$25</span>
                    </button>
                    <button class="barberCard" onclick="service('Beard Shave')">
                        <h3>Beard & Mustache</h3>
                        <p> Shave</p>
                        <span class="badge bg-secondary">$60</span>
                    </button>
                </div>
                <div class="col-md-12" id="otherServiceDiv" style="display: none;">
                    <h1 style="font-size: 18px; font-weight: bold;">Anything you wish to add?</h1>

                    <button class="barberCard" onclick="service('Haircut Short to Medium')">
                        <h3>Haircut</h3>
                        <p>Short to Medium</p>
                        <span class="badge bg-secondary">$75</span>
                    </button>
                    <button class="barberCard" onclick="service('Haircut Medium to Long')">
                        <h3>Haircut</h3>
                        <p>Medium to Long</p>
                        <span class="badge bg-secondary">$95</span>
                    </button>

                    <button class="barberCard" onclick="service('Color Single Process')">
                        <h3>Color</h3>
                        <p>Single Process</p>
                        <span class="badge bg-secondary">$150</span>
                    </button>
                    <button class="barberCard" onclick="service('Color Double Process')">
                        <h3>Color</h3>
                        <p>Double Process</p>
                        <span class="badge bg-secondary">$175</span>
                    </button>

                    <button class="barberCard" onclick="service('Color Ombre, Sombre, Balayage')">
                        <h3>Color</h3>
                        <p> Ombre, Sombre, Balayage</p>
                        <span class="badge bg-secondary">$150</span>
                    </button>

                    <button class="barberCard" onclick="service('Haircut Short to Medium')">
                        <h3>Other Services</h3>
                        <p>Shampoo</p>
                        <span class="badge bg-secondary">$15</span>
                    </button>
                    <button class="barberCard" onclick="service('Haircut Medium to Long')">
                        <h3>Other Services</h3>
                        <p>Conditioning</p>
                        <span class="badge bg-secondary">$20</span>
                    </button>

                    <button class="barberCard" onclick="service('Beard only')">
                        <h3>Other Services</h3>
                        <p> Blowdry/Style</p>
                        <span class="badge bg-secondary">$45</span>
                    </button>

                    <button class="barberCard" onclick="service('Beard only')">
                        <h3>Beard & Mustache</h3>
                        <p> Trim</p>
                        <span class="badge bg-secondary">$35</span>
                    </button>
                    <button class="barberCard" onclick="service('Beard only')">
                        <h3>Beard & Mustache</h3>
                        <p> Fade</p>
                        <span class="badge bg-secondary">$45</span>
                    </button>
                    <button class="barberCard" onclick="service('Beard only')">
                        <h3>Beard & Mustache</h3>
                        <p> Mustache</p>
                        <span class="badge bg-secondary">$25</span>
                    </button>
                    <button class="barberCard" onclick="service('Beard only')">
                        <h3>Beard & Mustache</h3>
                        <p> Shave</p>
                        <span class="badge bg-secondary">$60</span>
                    </button>
                    <button class="barberCard" onclick="service('Beard only')">
                        <h3>Beard & Mustache</h3>
                        <p> Color</p>
                        <span class="badge bg-secondary">$100</span>
                    </button>
                    <button class="barberCard" onclick="service('Beard only')">
                        <h3>Beard & Mustache</h3>
                        <p> Color touch-up</p>
                        <span class="badge bg-secondary">$65</span>
                    </button>
                </div>
                <div class="col-md-12" id="locationDiv" style="display: none;">
                    <h1 style="font-size: 25px; font-weight: bold;">Choose a location</h1>
                    <h2 style="font-size: 15px; font-weight: bold; color: rgb(0, 0, 0);"> Search or drag
                        the marker to the desired
                        service location</h2>
                    <input class="form-control" id="search-input" type="text" placeholder="Search..."><br>
                    <div id="map" style="height: 400px; padding-top: 10px;"></div>


                </div>
                <div class="col-md-12" id="dateDiv" style="display: none;">
                    <h1 style="font-size: 25px; font-weight: bold;">Choose a Date</h1>


                    <div id="mesAnio"></div>
                    <div id="fechasDisponibles"></div>


                </div>
                <div class="col-md-4" id="dataDiv" style="display: none;">
                    <h1 style="font-size: 25px; font-weight: bold;">Contact info</h1>
                    <form action="">
                        <label for="">Full Name:</label>
                        <input type="text" id="nameForm" class="form-control">
                        <label for="">Mobile phone:</label>
                        <input type="text" id="numberForm" class="form-control">
                        <label for="">Email:</label>
                        <input type="email" id="emailForm" class="form-control">
                        <label for="">Billing Address:</label>
                        <input type="text" id="addressForm" class="form-control">
                    </form>



                    <button class="btnConfirm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Confirm
                    </button>

                </div>
            </div>


        </div>

    </div>
  </div>

</main>


<!-- <div class="modal fade" id="exampleModal" style="background-color: rgba(255, 222, 173, 0); border: none;"
  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="background-color: rgba(255, 222, 173, 0); border: none;">
      <div class="modal-content" style="background-color: rgba(255, 222, 173, 0); border: none;">


          <div class="modal-body" style="background-color: rgba(255, 222, 173, 0); border: none;">
              <div class="card summary">
                  <div class="card-body">
                      <h5 class="card-title" style="text-align: start; font-weight: bold;">Summary</h5>
                      <hr>
                      <div class="row">
                          <div class="col-md-6 col-sm-6">
                              <p>Barber</p>
                          </div>
                          <div class="col-md-6 col-sm-6">
                              <p id="barber"></p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6 col-sm-6">
                              <p>Service</p>
                          </div>
                          <div class="col-md-6 col-sm-6">
                              <p id="service"></p>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-6 col-sm-6">
                              <p>Time</p>
                          </div>
                          <div class="col-md-6 col-sm-6">
                              <p id="time"></p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6 col-sm-6">
                              <p>Cost</p>
                          </div>
                          <div class="col-md-6 col-sm-6">
                              <p id="cost"></p>
                          </div>
                      </div>
                     <!-- <div class="row">
                          <div class="col-md-6 col-sm-6">
                              <p>Location</p>
                          </div>
                          <div class="col-md-6 col-sm-6">
                              <div id="map2" style="height: 50px;"></div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6 col-sm-6">
                              <p>Date</p>
                          </div>
                          <div class="col-md-6 col-sm-6">
                              <p id="date"></p>
                          </div>
                      </div>


                      <hr>
                      <button class="btnConfirm" onclick="payFunct()">
                          Make Payment
                      </button>
                  </div>


              </div>
              <div class="col-md-12" id="summaryDiv" style="display: none;">
                  <div class="col-md-3">
                      <div class="row">
                          <div class="col-md-12">

                              <div class="summary">
                                  <h5 class="card-title" style="text-align: start; font-weight: bold;">Summary
                                  </h5>
                                  <hr>

                                  <div class="row">
                                      <div class=" col-6">
                                          <p class="summaryTitle">Barber</p>
                                      </div>
                                      <div class="col-6">
                                          <p id="barber" class="summarySubTitle"></p>
                                      </div>

                                  </div>

                                  <div class="row">
                                      <div class="col-6">
                                          <p class="summaryTitle">Service</p>
                                      </div>
                                      <div class="col-6">
                                          <p id="service" class="summarySubTitle"></p>
                                      </div>
                                  </div>

                                  <div class="row">
                                      <div class="col-6">
                                          <p class="summaryTitle">Time</p>
                                      </div>
                                      <div class="col-6">
                                          <p id="time" class="summarySubTitle"></p>
                                      </div>
                                  </div>


                                  <div class="row">
                                      <div class="col-6">
                                          <p class="summaryTitle">Date</p>
                                      </div>
                                      <div class="col-6">
                                          <p id="date" class="summarySubTitle"></p>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-6">
                                          <p class="summaryTitle">Service</p>
                                      </div>
                                      <div class="col-6">
                                          <p id="cost" class="summarySubTitle"></p>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-6">
                                          <p class="summaryTitle">Fee</p>
                                      </div>
                                      <div class="col-6">
                                          <p id="fee" class="summarySubTitle"></p>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-6">
                                          <p class="summaryTitle">Tip</p>
                                      </div>
                                      <div class="col-6">
                                          <p id="tip" class="summarySubTitle"></p>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-6">
                                          <p class="summaryTitle">Total</p>
                                      </div>
                                      <div class="col-6">
                                          <p id="total" class="summarySubTitle"></p>
                                      </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                      <div class="col-md-12 col-sm-12">
                                          <p class="summaryTitle">Wish to add a Tip?</p>
                                      </div>
                                      <div class="col-md-12 col-sm-12">
                                          <a id="tip20" class="tip" data-value="20">20%</a>
                                          <a id="tip25" class="tip" data-value="25">25%</a>
                                          <a id="tip30" class="tip" data-value="30">30%</a>
                                          <a id="tip40" class="tip" data-value="40">40%</a>
                                      </div>
                                  </div>
                                  <hr>
                                  <button id="btnConfirmPay" class="btnConfirm" onclick="payFunct()">
                                      Make Payment
                                  </button>
                                  <form id="payment-form" class="formSummary" style="display: none;">
                                      <div id="link-authentication-element">
                                          <!--Stripe.js injects the Link Authentication Element
                                      </div>
                                      <div id="payment-element">
                                          <!--Stripe.js injects the Payment Element
                                      </div>
                                      <button id="submit">
                                          <div class="spinner hidden" id="spinner"></div>
                                          <span id="button-text">Pay now</span>
                                      </button>
                                      <div id="payment-message" class="hidden"></div>
                                  </form>
                              </div>



                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div> -->

<!-- Modal summary -->
<!-- <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasBottomLabel">About Ricardo E</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
      ...
  </div>
</div> -->
